//- STEP 1
form#form.form
  .article.step1-container
    .step1#step1
      .header
        h2(data-step="1.") Choose your files

      .step-content
        p#step1Instructions Use the file chooser:
        input(type="file",multiple="")#fileChooser.file

        #fileListDiv.file-list-div(style="display:none")
          ul.file-list#fileList
          #fileCount.file-count


        .submit-div
          button(type="button").submit#step1Next
            span Next

      div.dztext-height
        div.dztext-outer
          div.dztext-middle
            .dztext
              p#dropMessage.drop-message

      #dropZone.drop-zone

  //- STEP 2
  .article.step2
    .header
      a.back#step2Back
        span back
      h2(data-step="2.") How many docs are in each file?

    .step-content
      .choices
        label
          input(type="radio", value="one", name="docsPerFile", checked="true")
          span One document per file

        label
          input(type="radio", value="many", name="docsPerFile")
          span Possibly many

      #manyDocsDiv.many-docs
        h3 If there are many, how are the docs separated in each file?
        .choices
          label
            input(type="radio", value="string", name="separatorText", checked="true")
            span String: 
            input(type="text")#separatorString

          label
            input(type="radio", value="regex", name="separatorText")
            span Regular Expression: 
            input(type="text")#separatorRegex

        div.example-div
          p Example Text
          pre#step2Example(contenteditable='true',spellcheck='false').step2-test
            | Paste some text here if you want to test how docs will be divided.

        div.interp-div
          p Divided
          #step2Interp.step2-test

      .submit-div
        button(type="button").submit#step2Next
          span Next

  //- STEP 3
  .article.step3
    .header
      a.back#step3Back
        span back
      h2(data-step="3.") How are the files named?

    .step-content
      #step3Example(style="display:none") Example: 
        span(contenteditable="true")#fileNameExample

      label.description
        span Description: 
        input(type="text")#fileNameDescription
        p
          small.file-name-help y=year, m=month, d=day, t=title, *=anything

      #step3Interp(style="display:none") Interpretation: 
        table
          tr
            td Date:
            td#dateInterp
          tr
            td Title:
            td#titleInterp

      .submit-div
        button(type="submit").submit#step3Next
          span Next

  //- STEP 4
  .article.step4#step4
    .header
      h2 Importing docs...

    .step-content

      #step4Progress!=progress

      .step4-file-list-div
        ul.file-list#step4FileList
        #step4Count.step4-count

      #step4Done.step4-done!=spinner
        



